<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IFCM</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="static/vendor/underscore/underscore-min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        .form-popup {
            display: block;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #000;
            z-index: 9;
            color: black;
        }

        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: #99ccff;
        }
        circle {
            fill: cadetblue;
        }

        line {
            stroke: #000000;
            opacity: 0.1;
        }

        text {
            text-anchor: middle;
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            fill: #666;
            font-size: 10px;
        }

        #ShowOnlyBadConnections {
            background-color: #800000;
        }

        #ActionButtons {
            margin: auto;
            width: 50%;
        }
        #svg-id {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Content Row -->
                <div class="row">
                </div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 id="IFCMTitle" class="h3 mb-0 text-gray-800"> Information Flow Control Model for OSN</h1>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Crawling with Facebook-->
                        <div class="col-xl-3 col-lg-7">
                            <button id="show_only_bad_connections" onclick="show_only_bad_connections()">Show Only Bad Connections</button>
                            <button id="Show All Connections" onclick="showAllConnections()">Show All Connections</button>
                            <div class="card shadow mb-4">
                                <!-- Card Header -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                     style="background-color: #c6ced6;">
                                    <h6 class="m-0 font-weight-bold text-primary">Add Data Manually</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <form>
                                        <div class="form-group row">
                                            <label for="NodeName" class="col-sm-3 col-form-label">Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="NodeName" name="NodeName"
                                                       pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"
                                                       title="Enter valid name"
                                                       autocomplete="off"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="TF" class="col-sm-3 col-form-label">TF</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="TF" name="TF"
                                                       title="Total friends of user account"
                                                       min="1" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="AUA" class="col-sm-3 col-form-label">AUA</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control" id="AUA" name="AUA"
                                                       title="User account age in months"
                                                       min="1" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="CF" class="col-sm-3 col-form-label">CF</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="CF" name="CF" autocomplete="off"
                                                       pattern="^(\d+,)*\d+$"
                                                       title="Connecting Friend's id: 0 for 1st circle | id for one connection to 2nd circle | id1,id2,.. for few connections to 2nd circle"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="MF" class="col-sm-3 col-form-label">MF</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="MF" name="MF" autocomplete="off"
                                                       pattern="^(\d+,)*\d+$"
                                                       title="Mutual friend for each id entered in CF"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="FD" class="col-sm-3 col-form-label">FD</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" id="FD" name="FD"
                                                       title="Friendship duration for each id entered in CF"
                                                       autocomplete="off"
                                                       pattern="^(\d+,)*\d+$"
                                                       required>
                                            </div>
                                        </div>
                                        <button id="AddNodeToGraph" type="button" class="btn btn-primary" name="button" value="AddNode"
                                                onclick="if(checkInputValidation()){addNodeToGraph();}">
                                            Add Node
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <!-- Upload CSV File Header-->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                     style="background-color: #c6ced6;">
                                    <h6 class="m-0 font-weight-bold text-primary">Change Parameters</h6>
                                </div>
                                <!-- Upload CSV File Body -->
                                <div class="card-body">
                                    <input type="checkbox" id="TFcheckBox" value="TF" checked> TF<br>
                                    <input type="checkbox" id="AUAcheckBox" value="AUA" checked> AUA<br>
                                    <input type="checkbox" id="MFcheckBox" value="MF" checked> MF<br>
                                    <input type="checkbox" id="FDcheckBox" value="FD" checked> FD<br><br>
                                    <button id="Recalculatebtn" class="btn btn-primary" onclick="ReCalculate()">ReCalculate</button>

                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <!-- Upload CSV File Header-->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                     style="background-color: #c6ced6;">
                                    <h6 class="m-0 font-weight-bold text-primary">Upload JSON File</h6>
                                </div>
                                <!-- Upload CSV File Body -->
                                <div class="card-body">

                                    <input type="file" id="selectFiles" value="Import" />
                                    <button class="btn btn-primary" id="import" onclick="uploadJsonFile()">Upload Json</button>

                                </div>
                            </div>

                        </div>


                        <div class="col-xl-9 col-lg-9">
                            <!-- Graph Location-->
                            <div class="card shadow mb-4">
                                <!-- Graph Location Header-->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                                     style="background-color: #c6ced6;">
                                    <h6 class="m-0 font-weight-bold text-primary">OSN Graph</h6>
                                    <p>
                                        Choose Presentation:
                                        <select id="graphOptions">
                                            <option value="IFM">Information Flow Model</option>
                                            <option value="CB">Clique Based</option>
                                            <option value="Summ">Summary</option>
                                        </select>
                                    </p>
                                    <button id="DownloadData" onclick="downloadDataAsCSV()">Download Data</button>
                                </div>
                                <!-- Graph Location Body -->
                                <div class="card-body">
                                    <div style="height: 500px;" id="my_dataviz">
                                        <svg id="svg-id">
                                            <g class="everything">
                                                <g class="links"></g>
                                                <g class="nodes"></g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Content Row -->
                    <div class="row">
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <div class="form-popup" id="myForm">
                <form class="form-container">
                    <h5>Node Info:</h5>

                    <table>
                        <tr>
                            <td>Id:</td>
                            <td id="idForId"></td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td id="idForName"></td>
                        </tr>
                        <tr>
                            <td>TF:</td>
                            <td id="idForTF"></td>
                        </tr>
                        <tr>
                            <td>AUA:</td>
                            <td id="idForAUA"></td>
                        </tr>
                        <tr>
                            <td>CF:</td>
                            <td id="idForCF"></td>
                        </tr>
                        <tr>
                            <td>MF:</td>
                            <td id="idForMF"></td>
                        </tr>
                        <tr>
                            <td>FD:</td>
                            <td id="idForFD"></td>
                        </tr>
                        <tr>
                            <td>TSP:</td>
                            <td id="idForTSP"></td>
                        </tr>
                        <tr>
                            <td>level:</td>
                            <td id="idForlevel"></td>
                        </tr>

                    </table>

                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Final Project 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script type="text/javascript" src="static/js/graphPresentation.js"></script>
    <script type="text/javascript" src="static/js/inputValidation.js"></script>


</body>

</html>